API_URL=
WEB_URL=

API_GOOGLE_KEY=

# ENDPOINTS
# Autenticación
API_LOGIN=
API_LOGIN_GOOGLE=
API_LOGOUT=
API_USUARIO=
API_EDITAR_PERFIL=
API_RECOVERY=

# Actividades
API_GUARDAR_ACTIVIDAD=
API_CARGAR_ACTIVIDADES=
API_DESHABILITAR_ACTIVIDAD=
API_HABILITAR_ACTIVIDAD=
API_ACTIVIDADES_ALUMNO=
API_CARGAR_ENTREGA=
API_ACTIVIDADES_GRUPO=
API_RESPONDER_ACTIVIDAD=
API_RESPONDER=
API_ASIGNAR_ACTIVIDAD=
API_OBTENER_DETALLE_ACTIVIDAD=

# Alumnos
API_LISTA_ALUMNOS=
API_DESHABILITAR_ALUMNO=
API_HABILITAR_ALUMNO=
API_CARGAR_PERFIL_ALUMNO=
API_ALUMNO_INICIO=
API_OBTENER_ALUMNOS=
API_CREAR_ALUMNO=
API_GUARDAR_ALUMNO=
API_DETALLE_ALUMNO=

# Docente
API_GUARDAR_DOCENTE=
API_DESHABILITAR_DOCENTE=
API_RESTAURAR_DOCENTE=
API_CARGAR_DOCENTE=
API_ACTUALIZAR_DOCENTE=
API_LISTA_DOCENTES=
API_INICIO_DOCE=

# Grupo
API_CREAR_GRUPO=
API_CARGAR_GRUPOS=
API_LISTA_GRUPOS=
API_CAMBIAR_ESTATUS=
API_ASIGNAR_GRUPO=
API_DATA_GRUPO=
API_OBTENER_GRUPOS=
API_DETALLE_GRUPO=
API_OBTENER_ALUMNOS_POR_GRUPOS=

# Coordinación
API_INICIO_CORD=

# Chat
API_CHAT=
API_CHAT_HISTORIAL=
API_CHAT_MENSAJES=
API_CHAT_CONTACTO=
API_CHAT_ENVIAR_MENSAJE=